imageio
matplotlib
numpy==1.15.4
Pillow
scikit-image
scikit-learn
scipy
sklearn
#tensorflow-gpu==1.4.1
#tensorflow-tensorboard==0.4.0rc3
fasteners
fjcommon==0.1.69
httplib2
apiclient
google-api-python-client
oauth2client
tensorflow
tensorflow-tensorboard
